.button {
    -fx-text-fill: #253238;
    -fx-font-size: 18;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.label {
    -fx-text-fill: #253238;
    -fx-font-size: 20;
}
.bodyhead2 {
    -fx-background-color: burlywood;
    -fx-background-image: url("../image/head_01.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: stretch, auto;
}
.bodyhead {
    -fx-background-color: burlywood;
    -fx-background-image: url("../image/head_02.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: stretch, auto;
}

.label_head_date {
    -fx-text-fill: #f6911d;
    -fx-font-size: 14;
    -fx-padding: 0 20 0 0;

}

.label_head_user {
    -fx-text-fill: #f6911d;
    -fx-font-size: 14;
    -fx-padding: 0 10 0 0;
}

.label_head_simple {
    -fx-text-fill: #f6f5f4;
    -fx-font-size: 12;
    -fx-padding: 0 20 0 0;
}

.root {

    -fx-background-color: #253238;
}

.menu-button {
    -fx-pref-height: 38;
    -fx-background-color: #253238;
    -fx-pref-width: 200;
    -fx-border-width: 1;
    -fx-border-color: #6b7e87;
}

.menu-button:focused {
    -fx-background-color: #3d4b51;
    -fx-pref-width: 200;
    -fx-border-width: 1;
    -fx-border-color: #6b7e87;
}

.menu.label {
    -fx-text-fill: #6b7e87;

}

.menu-item .label {
    -fx-text-fill: greenyellow;
}

.menu-button .label {
    -fx-text-fill: #6b7e87;
}

.menu-button:focused .label {
    -fx-text-fill: #f6911d;
}

.button_image_help {
    -fx-pref-width: 100;
    -fx-background-color: #86d3e3;
    -fx-background-image: url('../image/button_help.png');
    -fx-background-size: 50px;
    -fx-pref-height: 45;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.button_image_help:hover {

    -fx-background-color: #FEFCE5;
    -fx-background-image: url('../image/button_help_press.png');

}

.button_image_keyboard {
    -fx-pref-width: 100;
    -fx-pref-height: 45;
    -fx-background-color: #86d3e3;
    -fx-background-image: url('../image/button_keyboard.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.button_image_keyboard:hover {
    -fx-background-color: #FEFCE5;
    -fx-background-image: url('../image/button_keyboard_press.png');
}

.button_menu_home {
    -fx-pref-height: 42;
    -fx-background-color: #f6911d;
    -fx-pref-width: 150;
}
.button_menu_home:hover {
    -fx-background-color: #6b7e87;
    -fx-text-fill: #f6911d;
}
.button_menu_home:pressed {
    -fx-background-color: #6b7e87;
    -fx-text-fill: #f6911d;
}

.button_menu_action {
    -fx-background-image: url("../image/icon_button_action_normal.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20, 20;
    -fx-background-position: 80%;
}

.button_menu_action:focused{
    -fx-background-image: url("../image/icon_button_action_active.png");

}
.button_menu_settings {
    -fx-background-image: url("../image/icon_button_settings_normal.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20, 20;
    -fx-background-position: 85%;
}

.button_menu_settings:focused{
    -fx-background-image: url("../image/icon_button_settings_active.png");

}

.button_menu_kassa {
    -fx-background-image: url("../image/icon_button_cash_normal.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20, 20;
    -fx-background-position: 80%;
}

.button_menu_kassa:focused{
    -fx-background-image: url("../image/icon_button_cash_active.png");

}




.button_menu_submenu {
    -fx-padding: 10, 0, 10, 0;
    -fx-text-fill: #f6911d;
    -fx-background-color: #515f66;
    -fx-pref-width: 400;
}

/*/////////////////////////////*/
.menu-item .label {
    -fx-text-fill: #212729;
}

.menu-item:focused {
    -fx-background-color: #6b7e87;
}
/*////////////////////////////////////////////////////*/
.menu-item:focused .label {
    -fx-text-fill: FEFCE5;
}

/*.text-field {*/
    /*-fx-background-radius: 0;*/
    /*-fx-background-insets: 0;*/
    /*-fx-font-size: 20;*/
    /*!*-fx-text-fill: #515f66;*!*/
/*}*/

/*.text-field:disabled {*/
    /*-fx-background-radius: 0;*/
    /*-fx-background-insets: 0;*/
/*}*/

.tooltip {
    -fx-background: rgba(191, 170, 25, 0.67);
    -fx-text-fill: #17050a;
    -fx-background-color: rgba(191, 170, 25, 0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
    -fx-font-size: 0.85em;
}

.myDialog {
    -fx-background-color: #3d4b51;
}
/*///////////////////////////////////////////////////////*/
.myDialog > *.button-bar > *.container {
    -fx-background-color: #3d4b51;
}

.myDialog > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.myDialog:header *.header-panel {
    -fx-background-color: #f6911d;
}

.myDialog:header *.header-panel *.label {
    -fx-text-fill: #FEFCE5;
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}

.myDialog.dialog-pane .button {
    -fx-background-color: f6911d;
    -fx-text-fill: #FEFCE5;
    -fx-wrap-text: true;
    -fx-cursor: hand;
}

.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
    -fx-display-caret: true;
}

.text-area .content {
    -fx-background-color: #6b7e87;
}

.scroll-pane > .viewport {
    -fx-background-color: #253238;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb {
    visibility: hidden;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(135, 135, 135, 0.47);

}

.scroll-bar:vertical:hover:pressed {
    -fx-pref-width: 60;
    -fx-padding: 3;
}

.button_key {

    -fx-border-color: #86d3e3;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-color: #253238;
    -fx-text-fill: #f6911d;
    -fx-font-size: 25pt;

}

.button_key_big {

    -fx-border-color: #86d3e3;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-color: #253238;
    -fx-background-radius: 5px;
    -fx-text-fill: #f6911d;
    -fx-font-size: 20pt;
}
/*//////////////////////////////////////////*/

.button_key_big:hover {
    -fx-background-color: #6b7e87;
}

.button_key_big:pressed {
    -fx-border-color: #e31714;
    -fx-background-color: #96b0bd;
}

.button_orang {
    -fx-background-color: #f6911d;
}

.button_orang:hover {
    -fx-background-color: #FEFCE5;
}

.button_orang:pressed {
    -fx-background-color: #FEFCE5;
}

.button_close {
    -fx-background-color: #f6911d;
    -fx-background-image: url("../image/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40, 40;
    -fx-background-position: 50%;
}
.button_close:hover {
    -fx-background-color: #FEFCE5;
}

.button_blue {

    -fx-border-color: #86d3e3;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-color: #253238;
    -fx-text-fill: #f6911d;
    -fx-font-size: 25pt;

}

.button_blue_product_table {
    -fx-border-color: #86d3e3;
    -fx-border-width: 2;
    -fx-background-color: #86d3e3;
    -fx-text-fill: #253238;
    -fx-alignment: center-left;
    -fx-font-size: 16pt;
    -fx-padding: 10 10 10 10;
}

.button_blue_product_table:hover {
    -fx-border-color: #86d3e3;
    -fx-border-width: 2;
    -fx-background-color: #253238;
    -fx-text-fill: #86d3e3;
    -fx-alignment: center-left;
    -fx-font-size: 16pt;
    -fx-padding: 10 10 10 10;
}

.button_blue_product_table_select {
    -fx-border-color: #86d3e3;
    -fx-border-width: 2;
    -fx-background-color: #253238;
    -fx-text-fill: #86d3e3;
    -fx-alignment: center-left;
    -fx-font-size: 16pt;
    -fx-padding: 10 10 10 10;
}

.button_money_50 {
    -fx-background-image: url("../image/50.png");

    -fx-background-repeat: stretch;
    -fx-background-size: stretch, auto;
}

.button_money_100 {
    -fx-background-image: url("../image/100.png");

    -fx-background-repeat: stretch;
    -fx-background-size: stretch, auto;
}

.button_money_200 {
    -fx-background-image: url("../image/200.png");

    -fx-background-repeat: stretch;
    -fx-background-size: stretch, auto;
}

.button_money_500 {
    -fx-background-image: url("../image/500.png");

    -fx-background-repeat: stretch;
    -fx-background-size: stretch, auto;
}

.button_money_1000 {
    -fx-background-image: url("../image/1000.png");

    -fx-background-repeat: stretch;
    -fx-background-size: stretch, auto;
}

.button_money_2000 {
    -fx-background-image: url("../image/2000.png");

    -fx-background-repeat: stretch;
    -fx-background-size: stretch, auto;
}

.button_money_5000 {
    -fx-background-image: url("../image/5000.png");

    -fx-background-repeat: stretch;
    -fx-background-size: stretch, auto;
}

.button_money_50:hover {
    -fx-background-image: url("../image/50_hover.png");

}

.button_money_100:hover {
    -fx-background-image: url("../image/100_hover.png");

}

.button_money_200:hover {
    -fx-background-image: url("../image/200_hover.png");

}

.button_money_500:hover {
    -fx-background-image: url("../image/500_hover.png");

}

.button_money_1000:hover {
    -fx-background-image: url("../image/1000_hover.png");

}

.button_money_2000:hover {
    -fx-background-image: url("../image/2000_hover.png");

}

.button_money_5000:hover {
    -fx-background-image: url("../image/5000_hover.png");

}

.button_money_50:pressed {
    -fx-background-image: url("../image/50_press.png");


}

.button_money_100:pressed {
    -fx-background-image: url("../image/100_press.png");

}

.button_money_200:pressed {
    -fx-background-image: url("../image/200_press.png");

}

.button_money_500:pressed {
    -fx-background-image: url("../image/500_press.png");

}

.button_money_1000:pressed {
    -fx-background-image: url("../image/1000_press.png");


}

.button_money_2000:pressed {
    -fx-background-image: url("../image/2000_press.png");


}

.button_money_5000:pressed {
    -fx-background-image: url("../image/5000_press.png");


}

#link_chat {
    -fx-font: 20px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

/*.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {*/
/*-fx-font-size: 45;*/
/*}*/

.chat .list-cell {
    -fx-background-color: transparent;
}

.chat .list-view {
    -fx-background-color: transparent;
}

.combo .list-cell {
    -fx-font-size: 20;

}

.combo .list-view .list-cell {

    -fx-padding: 23, 23, 23, 23;
    -fx-font-size: 25;

}
.item_product_page_sale{

}
.item_product_page_sale:hover{
    
    -fx-background-color: #6b7e87;
}
.delivery{

    -fx-font-size: 30;
    -fx-max-width: 250;
}

.button_key_smail {

    -fx-border-color: #86d3e3;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-color: #253238;
    -fx-background-radius: 5px;
    -fx-text-fill: #f6911d;
    -fx-font-size: 25pt;
}
/*//////////////////////////////////////////*/

.button_key_smail:hover {
    -fx-background-color: #6b7e87;
}
.button_radius{

}
.button_sale_orang{

    -fx-background-color: #f6911d;
    -fx-border-color: #f6911d;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5px;



}

.button_sale_orang:hover{
    -fx-background-color: #FEFCE5;

}
.button_dialog{


    -fx-border-color: #d26604;
    -fx-border-width: 2;
    -fx-border-radius: 5px;
    -fx-background-color: #f6911d;
    -fx-background-radius: 5px;
    -fx-pref-height: 70;
    -fx-pref-width: 200;
}
.button_dialog:hover{
    -fx-background-color: #FEFCE5;

}


.button_delivery_clear {
    -fx-background-color: #253238;
    -fx-background-image: url("../image/clear.png");
    -fx-background-repeat: no-repeat;
    -fx-border-color: #f6911d;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5px;
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-background-size: 30, 30;
    -fx-background-position: 50%;
}
.button_delivery_clear:hover{
    -fx-background-color: #FEFCE5;
}

.button_delivery_clear_3d {
    -fx-background-color: #253238;
    -fx-background-image: url("../image/clear.png");
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-background-size: 30, 30;
    -fx-background-position: 50%;
}


.button_add_product_for_salle {
    -fx-background-color: #253238;

    -fx-text-fill: #f6911d;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #f6911d;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5px;
    -fx-pref-width: 70;
    -fx-pref-height: 70;

}
/*.list_view_select_product.list-view.list-cell:filled:hover{*/
    /*-fx-background-color: #0093ff;*/
    /*-fx-text-fill: white;*/
/*}*/
.list-view .list-cell:even {
    -fx-background-color: #39474b;
    -fx-text-fill: black;
}
.list-view .list-cell:odd {
    -fx-background-color: #3d4b51;
    -fx-text-fill: black;
}
/*////////////////////////////////////////////////// 3d*/

.button_key_big_3d {
    -fx-text-fill: white;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-label-padding: 1;
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%);
    -fx-background-insets: 0, 1, 4, 5;
    -fx-background-radius: 9, 8, 5, 4;
}

.button_key_big_3d:hover {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#ababab 0%, #8c8b8c 20%, #4e4f4e 80%, #3e3e3e 100%);

}

.button_key_big_3d:pressed {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#e31714, #e31714),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 90%),
    linear-gradient(#ababab 0%, #8c8b8c 10%, #4e4f4e 50%, #3e3e3e 90%);

}



.button_dialog_3d {

    -fx-text-fill: #402003;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(rgba(246, 145, 29, 0.54) 0%, rgba(246, 145, 29, 0.81) 20%, #cf7a18 80%, #6c400d 100%),
    linear-gradient(rgba(246, 145, 29, 0.29) 0%, rgba(246, 145, 29, 0.81) 20%, #b46a15 80%, #6d4509 100%);
    -fx-background-insets: 0, 1, 4, 5;
    -fx-background-radius: 9, 8, 5, 4;

    -fx-pref-height: 70;
    -fx-pref-width: 200;
}

.button_dialog_3d:hover {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(rgba(188, 110, 22, 0.31) 0%, rgba(246, 145, 29, 0.5) 20%, rgba(246, 145, 29, 0.75) 80%, rgba(246, 145, 29, 0.87) 100%),
    linear-gradient(rgba(246, 145, 29, 0.61) 0%, rgba(246, 145, 29, 0.5) 20%, rgba(246, 145, 29, 0.75) 80%, rgba(246, 145, 29, 0.87) 100%);

}

.button_dialog_3d:pressed {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#e31714, #e31714),
    linear-gradient(rgba(246, 145, 29, 0.54) 0%, rgba(246, 145, 29, 0.81) 20%, #b46a15 80%, #f6911d 90%),
    linear-gradient(rgba(246, 145, 29, 0.54) 0%, rgba(246, 145, 29, 0.81) 10%, #b46a15 80%, #f6911d 90%);
}

.left_grid_head_3d {
    -fx-background-color:
            linear-gradient(#22518b 0%, #91e4f5 15%, #86d3e3 85%, #22518b 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    /*-fx-background-color: #86d3e3;*/
}

.left_grid_head {
    -fx-background-color: #86d3e3;
}

.ritch_grid_hed {
    -fx-background-color: #f6911d;
}
/*.ritch_grid_hed_3d {*/
    /*-fx-background-color:*/
            /*linear-gradient(#22518b 0%, #91e4f5 25%, #86d3e3 65%, #22518b 100%);*/
    /*-fx-background-insets: 0;*/
    /*-fx-background-radius: 1;*/
/*}*/

.delivery_3d {
    -fx-effect: innershadow(one-pass-box, #cacaca, 5, 0.3, 1, 1);
    -fx-background-color: rgba(255, 255, 255, 0.75),
    linear-gradient(to bottom, #4d4d4d 0%, #e7e7e7 100%);
    -fx-background-insets: 0, 1;


    -fx-font-size: 30;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-text-fill: black;

}

.text-input:disabled {
    -fx-opacity: 0.9;
}

.button_open_bord {
    -fx-background-image: url("../image/keyboard.png");
    -fx-background-color: #253238;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 100;
    -fx-pref-height: 80;
    -fx-background-size: 80, 50;
    -fx-background-position: 50%;
}

.item_app_update{
    -fx-background-color: #3a3a3a;

}
.item_app_update:hover{
    -fx-background-color: #8d8d8d;

}
.item_app_update:pressed{
    -fx-background-color: #d1d1d1;

}

.footer {
    -fx-background-color: #f6911d;

}

.update_button {
    -fx-background-color: #f6911d;
}
.update_button:hover {
    -fx-background-color: #6b7e87;
    -fx-text-fill: #f6911d;
}
.update_button:pressed {
    -fx-background-color: #6b7e87;
    -fx-text-fill: #f6911d;
}

.button_collapse {
    -fx-background-image: url("../image/_icon_сollapse.png");
    -fx-background-color: #f6911d;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-background-size: 40, 40;
    -fx-background-position: 50%;
}

.button_collapse:hover {
    -fx-background-color: #ece9c6;
}
.item_product_one{

}
.item_product_one:pressed{
    -fx-background-color: #f6911d;
    -fx-text-fill:#FEFCE5 ;
}
.dialog_3d{

    -fx-background-color:
            #000000,
            linear-gradient(#a7a7a7, #353535),
            linear-gradient(#9c9c9c, #5a5a5a),
            linear-gradient(#565656, #1e1e1e);
    -fx-background-insets: 0,1,2,3;

    -fx-padding: 3 3 0  3;




}











